.detail{
    display: flex;
  
}
.des-box{
   height: 30rem;
   width: 50rem;
   border-radius: 20px;
    font-size: 20px;
    color: white;
    word-wrap: normal;
    padding: 2rem;
    margin-left: 1rem;
}
.img-size{
   height: 100%;
   width: 100%;
}
.option{
   display: flex;
   gap: 2rem;

}
.i-size{
   font-size: 50px;
}

@media screen and (max-width: 480px){
   .detail{
     display: block;
     margin: 2rem;
     
   }
   .des-box{
      width: 110%;
      margin: 30px 5px 2px 0px;
   }
   .inner-box{
     width: 100%;
   }
   .img-size{
      width: 85%;
      border-radius: 20px;
      margin-left:1.5rem ;
   }
   .photo-hide{
      display: none;
   }

  
}